language: python
sudo: false
branches:
  only:
    - master
addons:
  postgresql: "9.4"
python:
  - 2.7
  - 3.3
  - 3.4
  - 3.5
  - 3.6
  - "pypy-5.3.1"
  - "pypy3"
env:
  - DJANGO="Django>=1.8,<1.9"
  - DJANGO="Django>=1.9,<1.10"
  - DJANGO="Django>=1.10,<1.11"
  - DJANGO="Django>=1.11,<1.12"
matrix:
  exclude:
    - python: 3.3
      env: DJANGO="Django>=1.9,<1.10"
    - python: 3.3
      env: DJANGO="Django>=1.10,<1.11"
    - python: 3.3
      env: DJANGO="Django>=1.11,<1.12"
    - python: "pypy3"
      env: DJANGO="Django>=1.9,<1.10"
    - python: "pypy3"
      env: DJANGO="Django>=1.10,<1.11"
    - python: "pypy3"
      env: DJANGO="Django>=1.11,<1.12"
before_script:
  - psql -c 'CREATE DATABASE travis_postgis;' -U postgres
  - psql -c 'CREATE EXTENSION postgis;' -U postgres -d travis_postgis
  - psql -c 'CREATE EXTENSION postgis_topology;' -U postgres -d travis_postgis
install:
  - pip install -q $DJANGO
  - pip install -e .
  - pip install psycopg2cffi coveralls
  - if [[ "$TRAVIS_PYTHON_VERSION" != pypy* ]]; then pip install psycopg2; fi
script:
  - coverage run --source django_fakery setup.py test
after_success:
  coveralls
